{% extends 'users/base.html' %}
{% block content %}
<!-- <style>
    input {
    margin: auto;
    text-align: center;
    width: 200px;
    display: block;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    padding-top: 5px;
    border: 2px solid #6ea9b8;
    border-radius: 5px;
    background-color: black;
}
</style> -->
<h1 id="heading">Login</h1>
<form method="POST"> 
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login"></form>
</form>
<div><a class="small-link" href="{% url 'register' %}">Don't have an account?</a></div>
{% endblock %}




<!-- <h1>Login</h1>
<form method="POST"> 
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Login"></form>
</form> -->
